<!DOCTYPE html>
<html>
  <head>
    <title>Converguru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= button_to "Logout", sessions_path, method: "delete" %>
    <% end %>
    <%= yield %>
  </body>
</html>
